@using Discord.Rest;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    AuthDetails auth = Auth.GetOptionalGlobalAuthDetails(HttpContextAccessor.HttpContext);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Utili</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow " id="navbar" style="background-color: #e9ecef;">
            <div class="container" id="main-nav">

                <a class="navbar-brand" asp-area="" asp-page="/Index">Utili</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">

                    <div class="navbar-nav flex-grow-1" style="justify-content: flex-start;">
                        <div class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Content("~/commands")">Commands</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Content("~/dashboard")">Dashboard</a>
                        </div> 
                    </div>

                    <div class="navbar-nav flex-grow-1" style="justify-content: flex-end;">
                        @if (auth.User != null)
                        {
                            <img src="@(auth.User.GetAvatarUrl())" class="user-icon" alt="User Icon">
                            <div class="dropdown noverticalpadding">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" id="userDropdown" aria-haspopup="true" aria-expanded="false" href="#">
                                    @(auth.User.Username)
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" asp-area="" asp-page="/signout">Sign out</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <form>
                                <a class="nav-link text-dark" asp-area="" asp-page="/signin">Sign in</a>
                            </form>
                        }
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
     </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

    </body>
</html>
