@page "{guild?}/channelmirroring"
@using Database.Data
@using Discord.Rest
@model UtiliSite.Pages.Dashboard.ChannelMirroringModel
@{
    if (ViewData["guild"] == null) { return; }

    Layout = "Shared/_Layout.cshtml";
    ViewData["Title"] = "Channel Mirroring - Utili Dashboard";

    ViewData["heading"] = "Channel Mirroring";
    ViewData["subheading"] = "Clone messages from one channel to another";
    ViewData["detailed"] = "This does not clone existing messages, it clones new ones.\nCloned messages use the sender's avatar and username, but the user's role colour can not be copied.";

    List<ChannelMirroringRow> rows = (List<ChannelMirroringRow>)ViewData["rows"];
    List<RestTextChannel> channels = (List<RestTextChannel>)ViewData["channels"];
}

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownAddChannel" aria-haspopup="true" aria-expanded="false">
        Mirror from...
    </button>
    <div class="dropdown-menu scrollable noverticalpadding" aria-labelledby="dropdownAddChannel">

        @foreach (RestTextChannel channel in channels.Where(x => rows.All(y => y.FromChannelId != x.Id)))
        {
            <form method="post" name="noajax">
                <input type="hidden" name="channelId" value="@channel.Id" />
                <button class="dropdown-item" asp-page-handler="Add" type="submit">@channel.Name</button>
            </form>
        }

    </div>
</div>

<div class="row">
    @foreach (ChannelMirroringRow row in rows)
    {
        RestTextChannel fromChannel = channels.First(x => x.Id == row.FromChannelId);
        <div>
            <div class="col-md-12" style="padding-bottom: 30px;">
                <div class="card-container-3">
                    <form method="post">

                        <input type="hidden" name="fromChannel" value="@row.FromChannelId" />

                        <div class="input-group flex-nowrap">

                            <input type="text" class="form-control card-strong card-component-3 card-heading" value="@fromChannel.Name" readonly>

                            <button type="submit" name="noajax" asp-page-handler="Remove" class="btn card-button-x card-strong">
                                <svg width="38px" height="38px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </button>

                        </div>

                        <div class="input-group flex-nowrap">
                            <span class="input-group-prepend input-group-text card-component-1">Mirror to</span>
                            <select class="custom-select card-component-2" name="toChannel">
                                @foreach (RestTextChannel channel in channels.Where(x => x.Id != fromChannel.Id))
                                {
                                    string selected = row.ToChannelId == channel.Id ? "selected" : "";

                                    <!option value="@channel.Id" @selected >@channel.Name</!option>
                                }
                            </select>
                        </div>

                        <div class="input-group flex-nowrap">
                            <span class="input-group-prepend input-group-text card-strong card-component-2"></span>
                            <button type="submit" class="btn card-button card-component-1 card-strong">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
