@page "{guild?}/inactiverole"
@using Database.Data
@using Discord.Rest
@model UtiliSite.Pages.Dashboard.InactiveRoleModel
@{
    if (ViewData["guild"] == null) { return; }

    Layout = "Shared/_Layout.cshtml";
    ViewData["Title"] = "Inactive Role - Utili Dashboard";

    ViewData["heading"] = "Inactive Role";
    ViewData["subheading"] = "Set a role to be given to or taken from inactive users";
    ViewData["detailed"] = "Utili checks for inactive users every 60 minutes\nA user is inactive if they haven't sent a message or joined a voice channel for the duration of the threshold you set below.\nUsers with the immune role will never be marked as inactive.";

    InactiveRoleRow row = (InactiveRoleRow)ViewData["row"];
    RestGuild guild = (RestGuild)ViewData["guild"];
}

<div style="padding-bottom: 30px;">
    <div class="card-container-4">
        <form method="post">

            <input type="text" class="form-control card-component-4 card-strong card-heading" style="" value="Settings" readonly>

            <div class="input-group flex-nowrap">
                <span class="input-group-prepend input-group-text card-component-2">Inactive Role</span>
                <select class="custom-select card-component-2" name="inactiveRole">
                    <!option value="0" @InactiveRoleModel.GetIsRoleSelected(0, row.RoleId)>None</!option>
                    @foreach (RestRole role in guild.Roles.Where(x => !x.IsEveryone).OrderBy(x => -x.Position))
                    {
                        <!option value="@role.Id" @InactiveRoleModel.GetIsRoleSelected(role.Id, row.RoleId)>@role.Name</!option>
                    }
                </select>
            </div>

            <div class="input-group flex-nowrap">
                <span class="input-group-prepend input-group-text card-component-2">Immune Role</span>
                <select class="custom-select card-component-2" name="immuneRole">
                    <!option value="0" @InactiveRoleModel.GetIsRoleSelected(0, row.RoleId)>None</!option>
                    @foreach (RestRole role in guild.Roles.Where(x => !x.IsEveryone).OrderBy(x => -x.Position))
                    {
                        <!option value="@role.Id" @InactiveRoleModel.GetIsRoleSelected(role.Id, row.ImmuneRoleId)>@role.Name</!option>
                    }
                </select>
            </div>
            
            <div class="input-group flex-nowrap">
                <span class="input-group-prepend input-group-text card-component-2">Threshold</span>
                <input type="text" name="threshold" class="form-control card-component-2" value="@row.Threshold">
            </div>
            
            <div class="input-group flex-nowrap">
                <span class="input-group-prepend input-group-text card-component-2">Mode</span>
                <select class="custom-select card-component-2" name="inverse">
                    <!option value="false" @InactiveRoleModel.GetIsBoolSelected(false, row.Inverse)>Give role</!option>
                    <!option value="true" @InactiveRoleModel.GetIsBoolSelected(true, row.Inverse)>Take role</!option>
                </select>
            </div>

            <div class="input-group flex-nowrap">
                <span class="input-group-text card-component-3 card-strong"></span>
                <button type="submit" class="btn card-button card-component-1 card-strong">Save</button>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/dashboard/submit.js" asp-append-version="true"></script>