@page "{guild?}/roles"
@using Discord.Rest
@using Database.Data
@model UtiliSite.Pages.Dashboard.JoinRolesModel
@{
    Layout = "Shared/_Layout.cshtml";
    ViewData["Title"] = "Join Roles - Utili Dashboard";

    ViewData["heading"] = "Join Roles";
    ViewData["subheading"] = "These roles are given to users when they join.";
    ViewData["detailed"] = "";

    JoinRolesRow row = (JoinRolesRow) ViewData["row"];
    List<RestRole> joinRoles = (List<RestRole>)ViewData["joinRoles"];
    List<RestRole> nonjoinRoles = (List<RestRole>)ViewData["nonJoinRoles"];
}

<div>
    <div class="card-container-3">
        <form method="post">

            <input type="text" class="form-control card-strong card-component-3 card-heading" value="Settings" readonly>

            <div class="input-group flex-nowrap" @Html.Raw(ContentHelper.Tooltip("Wait for membership screening or for 10 minutes to pass if the verification level is set to High"))>
                <span class="input-group-prepend input-group-text card-component-2">Wait for verification</span>
                <div class="input-group-text card-component-1">
                    <input type="checkbox" name="waitForVerification" class="form-control checkbox" @(row.WaitForVerification ? "checked" : "") )>
                </div>
            </div>

            <div class="input-group flex-nowrap">
                <span class="input-group-prepend input-group-text card-component-2 card-strong"></span>
                <button type="submit" class="btn card-button card-component-1 card-strong">Save</button>
            </div>
        </form>
    </div>
</div>

<div class="dropdown belowcards">
    <button class="btn btn-secondary dropdown-toggle dropdown-200" type="button" data-toggle="dropdown" id="dropdownAddChannel" aria-haspopup="true" aria-expanded="false">
        Give role on join...
    </button>
    <div class="dropdown-menu dropdown-200-content noverticalpadding" aria-labelledby="dropdownExcludeChannel">
        @foreach (RestRole role in nonjoinRoles.Where(x => !x.IsEveryone).OrderBy(x => -x.Position))
        {
            <form method="post" name="noajax">
                <input type="hidden" name="role" value="@role.Id" />
                <button class="dropdown-item" asp-page-handler="AddJoinRole" type="submit">@role.Name</button>
            </form>
        }
    </div>
</div>

@foreach (RestRole role in joinRoles.Where(x => !x.IsEveryone).OrderBy(x => -x.Position))
{
    <div class="card-container-3">
        <form method="post">

            <input type="hidden" name="role" value="@role.Id" />

            <div class="input-group flex-nowrap">
                <input type="text" class="form-control input-group-text list-input text-left card-component-3 card-strong" value="@role.Name" readonly>
                <button type="submit" name="noajax" asp-page-handler="RemoveJoinRole" class="btn card-button-x card-strong">
                    <svg width="38px" height="38px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path transform="translate(0.4, 0)" fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </button>
            </div>
        </form>
    </div>
}
