@page "{guild?}/messagefilter"
@using Database.Data
@using Discord.Rest
@model UtiliSite.Pages.Dashboard.MessageFilterModel
@{
    if (ViewData["guild"] == null) { return; }

    Layout = "Shared/_Layout.cshtml";
    ViewData["Title"] = "Message Filter - Utili Dashboard";

    ViewData["heading"] = "Message Filter";
    ViewData["subheading"] = "Only allow certain types of messages in a channel";
    ViewData["detailed"] = "Utili will delete any messages which don't match the criteria for that channel.\nA message will be sent telling the user why their message was deleted.";

    List<MessageFilterRow> rows = (List<MessageFilterRow>) ViewData["messageFilterRows"];
    List<RestTextChannel> channels = (List<RestTextChannel>) ViewData["channels"];
    List<RestTextChannel> nonMessageFilterChannels = (List<RestTextChannel>) ViewData["nonMessageFilterChannels"];
}

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownAddChannel" aria-haspopup="true" aria-expanded="false">
        Filter channel...
    </button>
    <div class="dropdown-menu scrollable noverticalpadding" aria-labelledby="dropdownAddChannel">

        @foreach (RestTextChannel channel in nonMessageFilterChannels)
        {
            <form method="post" name="noajax">
                <input type="hidden" name="channel" value="@channel.Id" />
                <button class="dropdown-item" asp-page-handler="Add" type="submit">@channel.Name</button>
            </form>
        }

    </div>
</div>

<div class="row">
@foreach (MessageFilterRow row in rows)
{
    string channelName = channels.First(x => x.Id == row.ChannelId).Name;
    <div class="pb-4">
        <div class="col-md-12">
            <div class="card card-settings">
                <form method="post">

                    <input type="hidden" name="channel" value="@row.ChannelId" />

                    <div class="input-group flex-nowrap">

                        <input type="text" class="form-control card-emphasis" style="" value="@channelName" readonly>

                        <button type="submit" name="noajax" asp-page-handler="Remove" class="btn btn-remove card-emphasis">
                            <svg width="38px" height="38px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </button>

                    </div>

                    <div class="input-group flex-nowrap">

                        <div class="input-group-prepend">
                            <span class="input-group-text">Mode</span>
                        </div>

                        <select class="custom-select card-component" name="mode">
                            <!option value="0" @MessageFilterModel.GetIsSelected(0, row)>All Messages</!option>
                            <!option value="1" @MessageFilterModel.GetIsSelected(1, row)>Images</!option>
                            <!option value="2" @MessageFilterModel.GetIsSelected(2, row)>Videos</!option>
                            <!option value="3" @MessageFilterModel.GetIsSelected(3, row)>Media</!option>
                            <!option value="4" @MessageFilterModel.GetIsSelected(4, row)>Music</!option>
                            <!option value="5" @MessageFilterModel.GetIsSelected(5, row)>Attachments</!option>
                            <!option value="6" @MessageFilterModel.GetIsSelected(6, row)>URLs</!option>
                            <!option value="7" @MessageFilterModel.GetIsSelected(7, row)>URLs and Media</!option>
                            <!option value="8" @MessageFilterModel.GetIsSelected(8, row)>RegEx</!option>
                        </select>
                    </div>

                    <div class="input-group flex-nowrap" @MessageFilterModel.GetIsComplexHidden(row)>
                        <div class="input-group-prepend">
                            <span class="input-group-text">RegEx</span>
                        </div>
                        <input type="text" name="complex" class="form-control card-component" value="@row.Complex.Value">
                    </div>

                    <div class="input-group flex-nowrap">
                        <div class="input-group-prepend card-emphasis">
                            <span class="input-group-text card-emphasis"></span>
                        </div>
                        <div class="input-group-prepend card-emphasis">
                            <span class="input-group-text card-emphasis"></span>
                        </div>

                        <button type="submit" class="btn btn-save btn-width card-emphasis">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
}
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/dashboard/submit.js" asp-append-version="true"></script>
