@page "{guild?}/messagefilter"
@using Database.Data
@using Discord.Rest
@model UtiliSite.Pages.Dashboard.MessageFilterModel
@{
    Layout = "Shared/_Layout.cshtml";
}

@{
    if (ViewData["authorised"] == null || !(bool)ViewData["authorised"])
    {
        return;
    }

    List<MessageFilterRow> messageFilterRows = (List<MessageFilterRow>) ViewData["messageFilterRows"];
    RestGuild guild = (RestGuild) ViewData["Guild"];
    List<RestTextChannel> channels = (List<RestTextChannel>) ViewData["channels"];
    List<RestTextChannel> nonMessageFilterChannels = (List<RestTextChannel>)ViewData["nonMessageFilterChannels"];
}

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownAddChannel" aria-haspopup="true" aria-expanded="false">
        Add channel
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownAddChannel">

        @foreach (RestTextChannel channel in nonMessageFilterChannels)
        {
            <form method="post">
                <input type="hidden" name="channelId" value="@channel.Id" />
                <button class="dropdown-item" asp-page-handler="Add" type="submit">#@channel.Name</button>
            </form>
        }

    </div>
</div>

@foreach (MessageFilterRow row in messageFilterRows)
{
    string channelName = channels.First(x => x.Id == row.ChannelId).Name;

<form name="form-@row.Id" method="post">

    <input type="hidden" name="rowId" value="@row.Id" />

    <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
            <span class="input-group-text">#</span>
        </div>
        <input type="text" class="form-control" style="background: unset;" value="@channelName" readonly>
    </div>

    <div class="input-group flex-nowrap">

        <div class="input-group-prepend">
            <span class="input-group-text">Mode</span>
        </div>

        <select class="custom-select" name="mode">
            <!option value="0" @MessageFilterModel.GetIsSelected(0, row)>All</!option>
            <!option value="1" @MessageFilterModel.GetIsSelected(1, row)>Images</!option>
            <!option value="2" @MessageFilterModel.GetIsSelected(2, row)>Videos</!option>
            <!option value="3" @MessageFilterModel.GetIsSelected(3, row)>Media</!option>
            <!option value="4" @MessageFilterModel.GetIsSelected(4, row)>Music</!option>
            <!option value="5" @MessageFilterModel.GetIsSelected(5, row)>Attachments</!option>
            <!option value="6" @MessageFilterModel.GetIsSelected(6, row)>URLs</!option>
            <!option value="7" @MessageFilterModel.GetIsSelected(7, row)>RegEx</!option>
        </select>
    </div>

    <div class="input-group flex-nowrap" @MessageFilterModel.GetIsComplexHidden(row)>
        <div class="input-group-prepend">
            <span class="input-group-text">RegEx</span>
        </div>
        <input type="text" name="complex" class="form-control" style="background: unset;" value="@row.Complex">
    </div>

    <div class="input-group flex-nowrap">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="submit" name="noajax" asp-page-handler="Remove" class="btn btn-danger">Remove</button>
    </div>
</form>
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/dashboard/submit.js" asp-append-version="true"></script>