@page "{guild?}/messagelogs"
@using Database.Data
@using Discord.Rest
@model UtiliSite.Pages.Dashboard.MessageLogsModel
@{
    if (ViewData["guild"] == null) { return; }

    Layout = "Shared/_Layout.cshtml";
    ViewData["Title"] = "Message Logs - Utili Dashboard";

    bool premium = (bool)ViewData["premium"];
    ViewData["heading"] = "Message Logs";
    ViewData["subheading"] = "Log the content of deleted and edited messages";
    if (premium)
    {
        ViewData["detailed"] = "If a log channel is set for either event, the content of messages sent on your server will be stored for up to 30 days.\nMessage content in excluded channels will not be saved.\nBecause you have premium there is no cap on the amount of messages stored per channel.";
    }
    else
    {
        ViewData["detailed"] = "If a log channel is set for either event, the content of messages sent on your server will be stored for up to 30 days.\nMessage content in excluded channels will not be saved.\nUp to 50 messages will be stored per channel; get premium to remove this limit.";
    }

    MessageLogsRow row = (MessageLogsRow)ViewData["row"];
    List<RestTextChannel> channels = (List<RestTextChannel>)ViewData["channels"];
    List<RestTextChannel> excludedChannels = channels.Where(x => row.ExcludedChannels.Contains(x.Id)).ToList();
    List<RestTextChannel> nonExcludedChannels = channels.Where(x => !row.ExcludedChannels.Contains(x.Id)).OrderBy(x => x.Position).ToList();
}

<div>
    <div class="card-container-3">
        <form method="post">

            <input type="text" class="form-control card-strong card-component-3 card-heading" value="Settings" readonly>

            <div class="input-group flex-nowrap">
                <span class="input-group-prepend input-group-text card-component-1">Deleted log</span>
                <select class="custom-select card-component-2" name="deletedChannel">
                    <!option value="0" @MessageLogsModel.GetIsChannelSelected(0, row.DeletedChannelId)>None</!option>
                    @foreach (RestTextChannel channel in channels)
                    {
                        <!option value="@channel.Id" @MessageLogsModel.GetIsChannelSelected(channel.Id, row.DeletedChannelId)>@channel.Name</!option>
                    }
                </select>
            </div>

            <div class="input-group flex-nowrap">
                <span class="input-group-prepend input-group-text card-component-1">Edit log</span>
                <select class="custom-select card-component-2" name="editedChannel">
                    <!option value="0" @MessageLogsModel.GetIsChannelSelected(0, row.EditedChannelId)>None</!option>
                    @foreach (RestTextChannel channel in channels)
                    {
                        <!option value="@channel.Id" @MessageLogsModel.GetIsChannelSelected(channel.Id, row.EditedChannelId)>@channel.Name</!option>
                    }
                </select>
            </div>

            <div class="input-group flex-nowrap">
                <span class="input-group-prepend input-group-text card-component-2 card-strong"></span>
                <button type="submit" class="btn  card-component-1 card-button card-strong">Save</button>
            </div>
        </form>
    </div>
</div>

<div class="dropdown belowcards">
    <button class="btn btn-secondary dropdown-toggle dropdown-200" type="button" data-toggle="dropdown" id="dropdownAddChannel" aria-haspopup="true" aria-expanded="false">
        Exclude channel...
    </button>
    <div class="dropdown-menu dropdown-200-content noverticalpadding" aria-labelledby="dropdownExcludeChannel">
        @foreach (RestTextChannel channel in nonExcludedChannels)
        {
            <form method="post" name="noajax">
                <input type="hidden" name="channel" value="@channel.Id" />
                <button class="dropdown-item" asp-page-handler="AddExcludedChannel" type="submit">@channel.Name</button>
            </form>
        }
    </div>
</div>

@foreach (RestTextChannel channel in excludedChannels)
{
    <div class="card-container-3">
        <form method="post">

            <input type="hidden" name="channel" value="@channel.Id" />

            <div class="input-group flex-nowrap">
                <input type="text" class="form-control input-group-text list-input text-left card-component-3 card-strong" value="@channel.Name" readonly>
                <button type="submit" name="noajax" asp-page-handler="RemoveExcludedChannel" class="btn card-button-x card-strong">
                    <svg width="38px" height="38px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path transform="translate(0.4, 0)" fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </button>
            </div>
        </form>
    </div>
}

