@page "{guild?}/roles"
@using Database.Data
@using Discord.Rest
@model UtiliSite.Pages.Dashboard.RolesModel
@{
    if (ViewData["guild"] == null) { return; }

    Layout = "Shared/_Layout.cshtml";
    ViewData["Title"] = "Roles - Utili Dashboard";

    ViewData["heading"] = "Roles";
    ViewData["subheading"] = "Enable role persist and set roles to give to users when they join";
    ViewData["detailed"] = "If role persist is enabled, a users roles will be recorded when they leave the server. These roles will be added back to them if they rejoin.\nJoin roles are given to any user when they join the server.";
    
    RolesRow row = (RolesRow) ViewData["row"];
    List<RestRole> joinRoles = (List<RestRole>) ViewData["joinRoles"];
    List<RestRole> nonjoinRoles = (List<RestRole>) ViewData["nonjoinRoles"];
}


<div>
    <div class="card-container-3">
        <form name="form-rolePersist" method="post">

            <input type="text" class="form-control card-component-3 card-heading card-strong" value="Settings" readonly>

            <div class="input-group flex-nowrap">
                <span class="input-group-prepend input-group-text card-component-1">Role Persist</span>
                <div class="input-group-text card-component-2">
                    <input type="checkbox" name="rolePersist" class="form-control checkbox" @VoiceLinkModel.GetIsChecked(row.RolePersist)>
                </div>
            </div>

            <div class="input-group flex-nowrap">
                <span class="input-group-prepend input-group-text card-component-2 card-strong"></span>
                <button type="submit" class="btn  card-component-1 card-button card-strong">Save</button>
            </div>
        </form>
    </div>
</div>

<div class="dropdown belowcards">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownAddChannel" aria-haspopup="true" aria-expanded="false">
        Give role on join...
    </button>
    <div class="dropdown-menu scrollable noverticalpadding" aria-labelledby="dropdownExcludeChannel">
        @foreach (RestRole role in nonjoinRoles.Where(x => !x.IsEveryone).OrderBy(x => -x.Position))
        {
            <form method="post" name="noajax">
                <input type="hidden" name="role" value="@role.Id" />
                <button class="dropdown-item" asp-page-handler="AddJoinRole" type="submit">@role.Name</button>
            </form>
        }
    </div>
</div>

@foreach (RestRole role in joinRoles.Where(x => !x.IsEveryone).OrderBy(x => -x.Position))
{
    <form method="post">

        <input type="hidden" name="role" value="@role.Id" />

        <div class="input-group flex-nowrap">

            <div class="input-group-prepend list-input card-strong">
                <span class="input-group-text list-input card-strong">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-volume-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z" />
                        <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z" />
                        <path d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707z" />
                        <path fill-rule="evenodd" d="M6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z" />
                    </svg>
                </span>
            </div>
            <input type="text" class="form-control input-group-text list-input text-left" value="@role.Name" readonly>
            <button type="submit" name="noajax" asp-page-handler="RemoveJoinRole" class="btn card-button-x card-strong">
                <svg width="38px" height="38px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>
        </div>
    </form>
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/dashboard/submit.js" asp-append-version="true"></script>