@page "{guild?}/voiceroles"
@using Database.Data
@using Discord.Rest
@model UtiliSite.Pages.Dashboard.VoiceRolesModel
@{
    if (ViewData["guild"] == null) { return; }

    Layout = "Shared/_Layout.cshtml";
    ViewData["Title"] = "Voice Roles - Utili Dashboard";

    ViewData["heading"] = "Voice Roles";
    ViewData["subheading"] = "Set roles to give to users while they're in a voice channel";
    ViewData["detailed"] = "";

    List<VoiceRolesRow> rows = (List<VoiceRolesRow>) ViewData["rows"];
    RestGuild guild = (RestGuild) ViewData["guild"];
    List<RestVoiceChannel> addedChannels = (List<RestVoiceChannel>) ViewData["addedChannels"];
    List<RestVoiceChannel> nonAddedChannels = (List<RestVoiceChannel>)ViewData["nonAddedChannels"];
}

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle dropdown-200" type="button" data-toggle="dropdown" id="dropdownAddChannel" aria-haspopup="true" aria-expanded="false">
        Add a role while in...
    </button>
    <div class="dropdown-menu dropdown-200-content noverticalpadding " aria-labelledby="dropdownExcludeChannel">

        @foreach (RestVoiceChannel channel in nonAddedChannels)
        {
            <form method="post" name="noajax">
                <input type="hidden" name="channel" value="@channel.Id" />
                <button class="dropdown-item" asp-page-handler="Add" type="submit">@channel.Name</button>
            </form>
        }

    </div>
</div>

<div class="row">
    @foreach (RestVoiceChannel channel in addedChannels)
    {
        VoiceRolesRow row = rows.First(x => x.ChannelId == channel.Id);
        <div>
            <div class="col-md-12" style="padding-bottom: 30px;">
                <div class="card-container-3">
                    <form method="post">

                        <input type="hidden" name="channel" value="@row.ChannelId" />

                        <div class="input-group flex-nowrap">
                            <input type="text" class="form-control card-component-3 card-heading card-strong" value="@channel.Name" readonly>
                            <button type="submit" name="noajax" asp-page-handler="Remove" class="btn card-button-x card-strong">
                                <svg width="38px" height="38px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path transform="translate(0.5, 0)" fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </button>
                        </div>

                        <div class="input-group flex-nowrap">
                            <span class="input-group-prepend input-group-text card-component-1">Role</span>
                            <select class="custom-select card-component-2" name="role">
                                @foreach (RestRole role in guild.Roles.Where(x => !x.IsEveryone).OrderBy(x => -x.Position))
                                {
                                    <!option value="@role.Id" @VoiceRolesModel.GetIsSelected(role.Id, row)>@role.Name</!option>
                                }
                            </select>
                        </div>

                        <div class="input-group flex-nowrap">
                            <span class="input-group-prepend input-group-text card-component-2 card-strong"></span>
                            <button type="submit" class="btn  card-component-1 card-button card-strong">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
