@page
@model UtiliSite.Pages.Premium.IndexModel
@{
    Layout = "Shared/_Layout.cshtml";
    if (ViewData["subscriptions"] == null)
    {
        return;
    }
    int subscriptions = (int)ViewData["subscriptions"];
    int slots = (int)ViewData["slots"];

    ViewData["Title"] = "Premium - Utili";
}

<div class="text-center text-white">
    <h1 class="display-4">Premium</h1>
    <p style="margin-bottom: 40px;">Help cover operating costs and get some sweet benefits in return</p>
</div>

<p class="text-danger">
    Premium is not available yet.<br />
    Premium subscriptions will be enabled once version 2 is stable.
</p>

<p class="text-white noverticalmargin">You'll get...</p>
<div class="premium-benefits">
    <p>
        • Increased autopurge frequency: 5 channels every 10 seconds instead of 1 channel every 30 seconds
    </p>
    <p>
        • More message logs storage: Removes the limit of 50 messages per channel
    </p>
    <p>
        • More emotes in vote channels: Add up to 3 more emotes per channel
    </p>
    <p>
        • A coloured role on the Utili discord server
    </p>
</div>


@if (subscriptions > 0)
{
    <div class="divider">
        <div></div>
        <span>Active Subscriptions</span>
    </div>

    <p class="text-white">You have @subscriptions active @(subscriptions != 1 ? "subscriptions" : "subscription") with a total of @slots premium server @(slots != 1 ? "slots" : "slot"). </p>
    <a class="a-blue" href="@RedirectHelper.AddToUrl(ViewContext, "servers")">Select @(slots != 1 ? "servers" : "server") ➔</a> <br />
    <span class="a-blue" onclick="billingPortal()">Manage @(subscriptions != 1 ? "subscriptions" : "subscription") ➔</span>
}

<div class="divider">
    <div></div>
    <span>Premium Plans</span>
</div>

<div class="plan-container" align="center" vertical-align="top">
    <div class="plan">
        <div class="plan-content">
            <p class="plan-title">1 Server</p>
            <p class="plan-description">One Utili Premium slot for a server of your choice</p>
            <p class="plan-price" id="price-1">£1.50</p>
            <p class="plan-price-small">per month</p>
            <p class="plan-price-per" id="price-1-per">£1.50 / server</p>
            <div class="plan-order-button" id="order-1" onclick="checkout(1, $('#currencySelect').val())">
                Subscribe
            </div>
        </div>
    </div>

    <div class="plan plan-highlighted">
        <div class="plan-content">
            <p class="plan-highlighted-text">Popular</p>
            <p class="plan-title">3 Servers</p>
            <p class="plan-description">Three Utili Premium slots for servers of your choice</p>
            <p class="plan-price" id="price-3">£3.75</p>
            <p class="plan-price-small">per month</p>
            <p class="plan-price-per" id="price-3-per">£1.25 / server</p>
            <div class="plan-order-button" id="order-3" onclick="checkout(3, $('#currencySelect').val())">
                Subscribe
            </div>
        </div>
    </div>

    <div class="plan">
        <div class="plan-content">
            <p class="plan-title">5 Servers</p>
            <p class="plan-description">Five Utili Premium slots for servers of your choice</p>
            <p class="plan-price" id="price-5">£5.00</p>
            <p class="plan-price-small">per month</p>
            <p class="plan-price-per" id="price-5-per">£1.00 / server</p>
            <div class="plan-order-button" onclick="checkout(5, $('#currencySelect').val())">
                Subscribe
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    changeCurrency();
</script>