<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Utili Dashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/4c685c9379.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Utili</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/commands">Commands</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="d-flex" id="wrapper">
        <div class="border-right" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <a href="@RedirectHelper.ChangeLastPage(ViewContext, "core")" class="list-group-item list-group-item-action bg-dark @SidebarHelper.GetIsActive(ViewContext, "core")">Core</a>
                <a href="@RedirectHelper.ChangeLastPage(ViewContext, "autopurge")" class="list-group-item list-group-item-action bg-dark @SidebarHelper.GetIsActive(ViewContext, "autopurge")">Autopurge</a>
                <a href="@RedirectHelper.ChangeLastPage(ViewContext, "voicelink")" class="list-group-item list-group-item-action bg-dark @SidebarHelper.GetIsActive(ViewContext, "voicelink")">Voice Link</a>
                <a href="@RedirectHelper.ChangeLastPage(ViewContext, "messagefilter")" class="list-group-item list-group-item-action bg-dark @SidebarHelper.GetIsActive(ViewContext, "messagefilter")">Message Filter</a>
            </div>
        </div>
        <div class="container" style="margin-top: 25px; margin-left: 25px; margin-right: 25px; margin-bottom: 85px;">

            @RenderBody()

        </div>
        
        <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 20px;" class="align-bottom">
            <div style="position: absolute; bottom: 0; right: 0;">
                <div class="toast" role="alert" data-delay="5000" aria-live="assertive" aria-atomic="true" style="width: 500px;" id="success">
                    <div class="toast-body">
                        <strong>Changes saved</strong> <br/>
                        Your changes may take up to 30 seconds to take effect
                    </div>
                </div>

                <div class="toast" role="alert" data-delay="5000" aria-live="assertive" aria-atomic="true" style="width: 500px;" id="ratelimit">
                    <div class="toast-body">
                        <strong>Error</strong> <br/>
                        You're doing that too fast, please wait between requests
                    </div>
                </div>

                <div class="toast" role="alert" data-delay="5000" aria-live="assertive" aria-atomic="true" style="width: 500px;" id="error">
                    <div class="toast-body">
                        <strong>Error</strong> <br/>
                        Something went wrong, please try again later
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
