@using Discord.Rest
@if (ViewData["guild"] == null)
{
    return;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/4c685c9379.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow " id="navbar">
        <div class="container" id="success" hidden>
            <span class="notification text-light">Changes saved</span>
        </div>
        <div class="container" id="error-too-fast" hidden>
            <span class="notification text-light">You're doing that too fast</span>
        </div>
        <div class="container" id="error-failure" hidden>
            <span class="notification text-light">Something went wrong</span>
        </div>
        <div class="container" id="hide">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Utili</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/commands">Commands</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="d-flex bg-dark" id="wrapper">
        <div class="border-right" id="sidebar-wrapper">
            <div class="card" style="width:30vh; height:30vh;">
                <img src="@((ViewData["guild"] as RestGuild).IconUrl ?? "https://cdn.discordapp.com/embed/avatars/0.png")" class="guild-icon card-img-top" alt="...">
                <div class="card-body" style="padding-top:1vh;">
                    <p class="card-text text-center">@((ViewData["guild"] as RestGuild).Name)</p>
                </div>
            </div>
            <div class="list-group list-group-flush">
                <a href="@RedirectHelper.ChangeLastPage(ViewContext, "core")" class="list-group-item list-group-item-action bg-dark @SidebarHelper.GetIsActive(ViewContext, "core")">Core</a>
                <a href="@RedirectHelper.ChangeLastPage(ViewContext, "autopurge")" class="list-group-item list-group-item-action bg-dark @SidebarHelper.GetIsActive(ViewContext, "autopurge")">Autopurge</a>
                <a href="@RedirectHelper.ChangeLastPage(ViewContext, "voicelink")" class="list-group-item list-group-item-action bg-dark @SidebarHelper.GetIsActive(ViewContext, "voicelink")">Voice Link</a>
                <a href="@RedirectHelper.ChangeLastPage(ViewContext, "voiceroles")" class="list-group-item list-group-item-action bg-dark @SidebarHelper.GetIsActive(ViewContext, "voiceroles")">Voice Roles</a>
                <a href="@RedirectHelper.ChangeLastPage(ViewContext, "messagefilter")" class="list-group-item list-group-item-action bg-dark @SidebarHelper.GetIsActive(ViewContext, "messagefilter")">Message Filter</a>
            </div>
        </div>
        <div style="margin-top: 3vh; margin-left: 3vh; margin-right: 3vh; margin-bottom: 3vh; ">

            @RenderBody()

        </div>


    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/dashboard/notification.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
