@using Discord.Rest;
@{
    RestGuild guild = (RestGuild) ViewData["guild"];
    RestUser user = (RestUser) ViewData["user"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="Add the Utili Discord bot to your server to enjoy some free utility features.">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/nav.css" />
    <link rel="stylesheet" href="~/css/scrollbar.css" />
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <link rel="stylesheet" href="~/css/cards.css" />
    <script src="https://kit.fontawesome.com/4c685c9379.js" crossorigin="anonymous"></script>
</head>
    <body onload="onLoad()" style="opacity: 0;">
        <nav class="navbar navbar-expand-sm navbar-light" id="navbar" style="background-color: #e9ecef;">
            <div class="container" id="success" hidden>
                <span class="notification text-light">Changes saved</span>
            </div>
            <div class="container" id="error-too-fast" hidden>
                <span class="notification text-light">You're doing that too fast</span>
            </div>
            <div class="container" id="error-failure" hidden>
                <span class="notification text-light">Something went wrong</span>
            </div>

            <div class="container" id="main-nav">

                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="https://file.utili.xyz/UtiliSmall.png" width="33" height="33" alt="Logo" class="d-inline-block align-top">
                    Utili
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <div class="navbar-nav flex-grow-1" style="justify-content: flex-start;">
                        <div class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Content("~/commands")">Commands</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Content("~/dashboard")">Dashboard</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Content("~/premium")">Premium</a>
                        </div>
                    </div>

                    <div class="navbar-nav flex-grow-1" style="justify-content: flex-end;">
                        <div class="dropdown noverticalpadding">
                            <a class="nav-link text-dark dropdown-toggle noverticalpadding" style="align-items: center; display: flex;" data-toggle="dropdown" role="button" id="userDropdown" aria-haspopup="true" aria-expanded="false" href="#">
                                <img src="@(user.GetAvatarUrl(size: 32))" class="user-icon" alt="User Icon" style="margin-right: 8px;">
                                @(user.Username)
                            </a>
                            <div class="dropdown-menu dropdown-menu-left noverticalpadding" style="border: 0;" aria-labelledby="userDropdown">
                                <a class="dropdown-item" id="signoutDropdown" asp-area="" asp-page="/signout">Sign out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="d-flex bg-dark" id="wrapper">
            <div class="dynamic-height scroll-dark show" id="sidebar">
                <div class="card" id="serverCard">
                    <img src="@DiscordModule.GetGuildIconUrl(guild)" class="guild-icon card-img-top" alt="Server Icon">
                    <div class="card-body" style="padding-top: 15px; padding-bottom: 20px;">
                        <p class="card-text text-light text-center">@(guild.Name)</p>
                    </div>
                </div>
                <div class="list-group list-group-flush" id="sidebarCategories">

                    <div href="@RedirectHelper.ChangeLastPage(ViewContext, "core")" class="cursor-pointer list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "core")">Core</div>

                    <div onclick="$('#channelSection').collapse('toggle')" class="cursor-pointer list-group-item list-group-item-action section-header">Channels</div>
                    <div id="channelSection" class="collapse @SidebarHelper.GetIsSectionOpen(ViewContext, "channel")" data-parent="#sidebarCategories">
                        <div href="@RedirectHelper.ChangeLastPage(ViewContext, "autopurge")" class="cursor-pointer list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "autopurge")">Autopurge</div>
                        <div href="@RedirectHelper.ChangeLastPage(ViewContext, "channelmirroring")" class="cursor-pointer list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "channelmirroring")">Channel Mirroring</div>
                        <div href="@RedirectHelper.ChangeLastPage(ViewContext, "notices")" class="cursor-pointer list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "notices")">Channel Notices</div>
                    </div>

                    <div onclick="$('#messageSection').collapse('toggle')" class="cursor-pointer list-group-item list-group-item-action section-header">Messages</div>
                    <div id="messageSection" class="collapse @SidebarHelper.GetIsSectionOpen(ViewContext, "message")" data-parent="#sidebarCategories">
                        <div href="@RedirectHelper.ChangeLastPage(ViewContext, "messagefilter")" class="cursor-pointer list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "messagefilter")">Message Filter</div>
                        <div href="@RedirectHelper.ChangeLastPage(ViewContext, "messagelogs")" class="cursor-pointer list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "messagelogs")">Message Logs</div>
                        <div href="@RedirectHelper.ChangeLastPage(ViewContext, "messagepinning")" class="cursor-pointer list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "messagepinning")">Message Pinning</div>
                    </div>

                    <div onclick="$('#userSection').collapse('toggle')" class="cursor-pointer list-group-item list-group-item-action section-header">Users</div>
                    <div id="userSection" class="collapse @SidebarHelper.GetIsSectionOpen(ViewContext, "user")" data-parent="#sidebarCategories">
                        <div href="@RedirectHelper.ChangeLastPage(ViewContext, "inactiverole")" class="cursor-pointer list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "inactiverole")">Inactive Role</div>
                        <div href="@RedirectHelper.ChangeLastPage(ViewContext, "joinmessage")" class="cursor-pointer list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "joinmessage")">Join Message</div>
                        <div href="@RedirectHelper.ChangeLastPage(ViewContext, "roles")" class="cursor-pointer list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "roles")">Role Management</div>
                    </div>

                    <div onclick="$('#voiceSection').collapse('toggle')" class="cursor-pointer list-group-item list-group-item-action section-header">Voice Channels</div>
                    <div id="voiceSection" class="collapse @SidebarHelper.GetIsSectionOpen(ViewContext, "voice")" data-parent="#sidebarCategories">
                        <div href="@RedirectHelper.ChangeLastPage(ViewContext, "voicelink")" class="cursor-pointer list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "voicelink")">Voice Link</div>
                        <div href="@RedirectHelper.ChangeLastPage(ViewContext, "voiceroles")" class="cursor-pointer list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "voiceroles")">Voice Roles</div>
                    </div>

                    <div onclick="$('#votingSection').collapse('toggle')" class="cursor-pointer list-group-item list-group-item-action section-header">Voting</div>
                    <div id="votingSection" class="collapse @SidebarHelper.GetIsSectionOpen(ViewContext, "voting")" data-parent="#sidebarCategories">
                        <div href="@RedirectHelper.ChangeLastPage(ViewContext, "reputation")" class="cursor-pointer list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "reputation")">Reputation</div>
                        <div href="@RedirectHelper.ChangeLastPage(ViewContext, "votechannels")" class="cursor-pointer list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "votechannels")">Vote Channels</div>
                    </div>

                </div>
            </div>
            <div class="dynamic-height scroll-always scroll-dark scroll-x" style="width: calc(100vw - 225px); padding: 23px;" id="main">

                <div class="jumbotron jumbotron-fluid">

                    <div>
                        <h1 class="display-4 page-heading" style="display: inline-block;">@ViewData["heading"]</h1>
                        @{
                            string detailed = ViewData["detailed"].ToString();
                            if (!string.IsNullOrEmpty(detailed))
                            {
                                <h2 class="info-hover text-light" @Html.Raw(ContentHelper.Tooltip(detailed))>ⓘ</h2>
                            }

                        }
                    </div>

                    <p class="lead">@Html.Raw(ViewData["subheading"].ToString().Replace("\n", "</p><p class='lead lead-sm'>"))</p>

                </div>

                @RenderBody()

            </div>

            <div onclick="toggleSidebar()" id="sidebarToggler" hidden>
                <img src="~/Menu.png" alt="Toggle Sidebar" width="50"; height="50"/>
            </div>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/dashboard/submit.js" asp-append-version="true"></script>
        <script src="~/js/dashboard/notification.js" asp-append-version="true"></script>

    <script type="text/javascript" >
        sizeElements();
        scrollSidebar();
        $("body").css("opacity", "1");

        window.onbeforeunload = function() {
            sessionStorage.setItem("sidebarpos", document.querySelector("#sidebar").scrollTop);
        };
    </script>

    @RenderSection("Scripts", required: false)

    </body>
</html>
