@using Discord.Rest;
@{
    if (ViewData["guild"] == null)
    {
        IgnoreBody();
        return;
    }

    RestGuild guild = (RestGuild) ViewData["guild"];
    RestUser user = (RestUser) ViewData["user"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/4c685c9379.js" crossorigin="anonymous"></script>
</head>
<body onload="onLoad()">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light" id="navbar" style="background-color: #e9ecef;">
        <div class="container" id="success" hidden>
            <span class="notification text-light">Changes saved</span>
        </div>
        <div class="container" id="error-too-fast" hidden>
            <span class="notification text-light">You're doing that too fast</span>
        </div>
        <div class="container" id="error-failure" hidden>
            <span class="notification text-light">Something went wrong</span>
        </div>
        

        <div class="container" id="main-nav">

            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="https://file.utili.xyz/UtiliDark.png" width="30" height="30" alt="" class="d-inline-block align-top">
                Utili
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex">

                <div class="navbar-nav flex-grow-1" style="justify-content: flex-start;">
                    <div class="nav-item">
                        <a class="nav-link text-dark" href="@Url.Content("~/commands")">Commands</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link text-dark" href="@Url.Content("~/dashboard")">Dashboard</a>
                    </div> 
                </div>

                <div class="navbar-nav flex-grow-1" style="justify-content: flex-end;">
                    <img src="@(user.GetAvatarUrl(size: 32))" class="user-icon" alt="User Icon">
                    <div class="dropdown noverticalpadding">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" id="userDropdown" aria-haspopup="true" aria-expanded="false" href="#">
                            @(user.Username)
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <a class="dropdown-item" asp-area="" asp-page="/signout">Sign out</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        

    </nav>
    <div class="d-flex bg-dark" id="wrapper">
        <div class="dynamic-height scroll-dark">
            <div class="card" style="width:30vh; height:30vh; background-color: #292c2f; border: 0;">
                <img src="@DiscordModule.GetGuildIconUrl(guild)" class="guild-icon card-img-top" alt="Server Icon">
                <div class="card-body" style="padding-top:1vh;">
                    <p class="card-text text-light text-center">@(guild.Name)</p>
                </div>
            </div>
            <div class="list-group list-group-flush">
                <a href="@RedirectHelper.ChangeLastPage(ViewContext, "core")" class="list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "core")">Core</a>
                <a href="@RedirectHelper.ChangeLastPage(ViewContext, "autopurge")" class="list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "autopurge")">Autopurge</a>
                <a href="@RedirectHelper.ChangeLastPage(ViewContext, "channelmirroring")" class="list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "channelmirroring")">Channel Mirroring</a>
                <a href="@RedirectHelper.ChangeLastPage(ViewContext, "inactiverole")" class="list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "inactiverole")">Inactive Role</a>
                <a href="@RedirectHelper.ChangeLastPage(ViewContext, "joinmessage")" class="list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "joinmessage")">Join Message</a>
                <a href="@RedirectHelper.ChangeLastPage(ViewContext, "messagefilter")" class="list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "messagefilter")">Message Filter</a>
                <a href="@RedirectHelper.ChangeLastPage(ViewContext, "messagelogs")" class="list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "messagelogs")">Message Logs</a>
                <a href="@RedirectHelper.ChangeLastPage(ViewContext, "reputation")" class="list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "reputation")">Reputation</a>
                <a href="@RedirectHelper.ChangeLastPage(ViewContext, "roles")" class="list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "roles")">Roles</a>
                <a href="@RedirectHelper.ChangeLastPage(ViewContext, "voicelink")" class="list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "voicelink")">Voice Link</a>
                <a href="@RedirectHelper.ChangeLastPage(ViewContext, "voiceroles")" class="list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "voiceroles")">Voice Roles</a>
                <a href="@RedirectHelper.ChangeLastPage(ViewContext, "votechannels")" class="list-group-item list-group-item-action @SidebarHelper.GetIsActive(ViewContext, "votechannels")">Vote Channels</a>
            </div>
        </div>
        <div class="dynamic-height scroll-always scroll-dark" style="width:calc(100vw - 30vh); padding: 3vh;">
            
            <div class="jumbotron jumbotron-fluid">

                <div>
                    <h1 class="display-4 page-heading" style="display: inline-block;">@ViewData["heading"]</h1>
                    @{
                        string detailed = ViewData["detailed"].ToString();
                        if (!string.IsNullOrEmpty(detailed))
                        {
                            detailed = $"<p>{detailed.Replace("\n", "</p><p>")}</p>";
                            detailed = detailed.Replace("~newline~", "\\n");
                            <h2 class="info-hover text-light" data-toggle="tooltip" data-placement="right" data-html="true" title="@Html.Raw(detailed)">ⓘ</h2>
                        }

                    }
                </div>

                <p class="lead">@Html.Raw(ViewData["subheading"].ToString().Replace("\n", "</p><p class='lead lead-sm'>"))</p>

            </div>

            @RenderBody()

        </div>


    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/dashboard/notification.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
