@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{
    AuthDetails auth;
    if (ViewData["auth"] == null)
    {
        auth = await Auth.GetAuthDetailsAsync(HttpContextAccessor.HttpContext, HttpContextAccessor.HttpContext.Request.Path);
    }
    else
    {
        auth = (AuthDetails) ViewData["auth"];
    }
    if (!auth.Authenticated)
    {
        IgnoreBody();
        return;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://js.stripe.com/v3/" type="text/javascript"></script>
</head>
<body onload="onLoad()">
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light" id="navbar" style="background-color: #e9ecef;">
        <div class="container" id="main-nav">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="https://file.utili.xyz/UtiliSmall.png" width="33" height="33" alt="Logo" class="d-inline-block align-top">
                Utili
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex">

                <div class="navbar-nav flex-grow-1" style="justify-content: flex-start;">
                    <div class="nav-item">
                        <a class="nav-link text-dark" href="@Url.Content("~/commands")">Commands</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link text-dark" href="@Url.Content("~/dashboard")">Dashboard</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link text-dark" href="@Url.Content("~/premium")">Premium</a>
                    </div>
                </div>

                @if (SidebarHelper.GetIsActive(ViewContext, "error") != "active")
                {
                    <div class="navbar-nav flex-grow-1" style="justify-content: flex-end;">
                        @if (auth.User != null)
                        {
                            <div class="dropdown noverticalpadding">
                                <a class="nav-link text-dark dropdown-toggle noverticalpadding" style="align-items: center; display: flex;" data-toggle="dropdown" role="button" id="userDropdown" aria-haspopup="true" aria-expanded="false" href="#">
                                    <img src="@(auth.User.GetAvatarUrl(size: 32))" class="user-icon" alt="User Icon" style="margin-right: 8px;">
                                    @(auth.User.Username)
                                </a>
                                <div class="dropdown-menu dropdown-menu-left noverticalpadding" style="border: 0;" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" id="signoutDropdown" asp-area="" asp-page="/signout">Sign out</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <form>
                                <a class="nav-link text-dark" asp-area="" asp-page="/signin">Sign in</a>
                            </form>
                        }
                    </div>
                }
                </div>
            </div>
        </nav>
    </header>

    <div class="scroll-always scroll-dark dynamic-height">
        <div class="container" style="margin-top: 3vh;">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/stripe.js" asp-append-version="true"></script>
    <script src="https://js.stripe.com/v3/" type="text/javascript"></script>

    @RenderSection("Scripts", required: false)

    </body>
</html>
